@page
@model PrivacyModel
@{
    ViewData["Title"] = "Конфиденциальность";
}
<h1>@ViewData["Title"]</h1>
<hr />

<p class="my-0">Сайт не подключен ни к одной из баз данных.</p>
<p class="my-0">Ваши данные лишь используются лишь для вставки в файл-шаблон.</p>
<p class="my-0">Удостовериться в этом Вы можете в репозитории этого сайта: <a href="https://github.com/Leonid-Vizel/FizraDnevnikWeb" target="_blank">Открыть</a></p>