@page
@model PrivacyModel
@{
    ViewData["Title"] = "Конфиденциальность";
}
<h1>@ViewData["Title"]</h1>
<hr />

<p class="my-0">Сайт не подключен ни к одной из баз данных.</p>
<p class="my-0">Ваши данные лишь используются лишь для вставки в файл-шаблон.</p>
<p class="my-0">Захотите задудосить сайт - я найду вас и откушу жопу</p>
<img class="w-100" src="~/jopa.jpg" />